* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* Fonts properties */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;

  /* colors */
  --yellow-javascript: #f7df1e;
  --black: #000000;
}
.banner-container {
  align-items: flex-end;
  /* background-color: var(--yellow-javascript); */
  display: flex;
  font-size: 6rem;
  height: 10rem;
  justify-content: flex-end;
  padding-right: 1rem;
  text-transform: uppercase;
}

.j-string,
.ueves-string {
  display: flex;
  background-color: var(--yellow-javascript);
  height: 100%;
  align-items: flex-end;
}
.j-string {
  z-index: 2;
  position: absolute;
  left: 0.1rem;
  padding-left: 1.8rem;
}
.ueves-string {
  position: absolute;
  left: -50.2rem;

  z-index: 1;
  max-width: fit-content;
}
.ueves-string:hover {
  transform: translate(55rem, 0);
  transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}
